<!DOCTYPE html>

<html lang="en-US" ng-app = "mainApp" ng-controller="regsiterCtrl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/user.style.css" type="text/css">
	<link rel="stylesheet" href="assets/css/jquery.alerts.css" type="text/css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="assets/js/common.js"></script>
	<script src="assets/js/jquery.alerts.js"></script>
	<script src="assets/js/common.js"></script>
	<script src="assets/js/controller.js"></script>
	
    <title>Onroa - Đăng nhập</title>


</head>

<body onunload="" class="page-subpage page-regsiter navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        <!-- Navigation-->
        <div class="header">
            <div class="wrapper">
                <div class="brand">
                    <span onclick="backToIndex()">
						<img src="assets/img/logo.png" alt="logo">
					</span>
                </div>
                <nav class="navigation-items">
                    <div class="wrapper">
                        <ul class="main-navigation navigation-top-header in-login"></ul>
                        <ul class="user-area"  ng-if="uid == ''">
							<li><a target="_blank" href="#" onclick="window.open('https://play.google.com/store/apps/details?id=onroa.mobile.onroaapp', '_blank').focus();">
											<img src="assets/img/android-version.png" style="width: 100px">
							</a></li>
                            <li><a href="signin.html">Đăng nhập</a></li>
                            <li><a href="register.html"><strong>Đăng ký</strong></a></li>
							<li><a href="#" onclick="fblogin('register')">
											<img src="assets/img/fblogin.jpg" style="width: 50px">
							</a></li>
                        </ul>
						<ul class="user-area"  ng-if="uid != ''">
                            <li><a href="#" onclick="logout(); return false; ">Đăng xuất</a></li>
                        </ul>
                        
                        <div class="toggle-navigation">
                            <div class="icon">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end Navigation-->
        <!-- Page Canvas-->
        <div id="page-canvas">
			<!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Menu</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->
            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <div class="block">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                                <header>
                                    <h1 class="page-title">Đăng Ký</h1>
                                </header>
                                <hr>
								<div class="form_message" id="acc_message">&nbsp;</div>
                                <form role="form" id="form-register" name="form-register" method="post" action="#" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="form-register-full-name">Họ tên:</label><span class="form_message" id="fullname_message"></span>
                                        <input type="text" class="form-control" id="form-register-full-name" name="form-register-full-name" required>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="form-register-email">Email:</label><span class="form_message" id="email_message"></span>
                                        <input type="email" class="form-control" id="form-register-email" name="form-register-email">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="form-register-confirm-email">Nhập lại  Email:</label><span class="form_message" id="reemail_message"></span>
                                        <input type="email" class="form-control" id="form-register-confirm-email" name="form-register-confirm-email">
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="form-register-gender">Danh Xưng:</label><span class="form_message" id="gender_message"></span>
										<input type="radio" name="form-register-gender" id="form-register-gender" value="1"> Anh
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="form-register-gender" id="form-register-gender" value="2"> Chị
                                    </div><!-- /.form-group -->
									<div class="form-group">
                                        <label for="form-register-gender">Mã bảo vệ:</label><span class="form_message" id="digit_message"></span>
										<img src="captcha.php"> &nbsp;&nbsp;<input type="input"  name="digit" id="digit" value="" style="width:30%"> 
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										
                                    </div><!-- /.form-group -->
                                    <div class="form-group clearfix">
										<input type="hidden" name="csrf" id="csrf" value="{{csrf}}">
                                        <button type="submit" class="btn pull-right btn-default" id="account-submit"  ng-click = "doRegister()">Tạo tài khoản</button>
                                    </div><!-- /.form-group -->
									<div class="form-group" onclick="fblogin();" style="cursor: pointer;">
											<img src="assets/img/fbconnect.png" style="width: 100%">
                                    </div><!-- /.form-group -->
                                </form>
                                <hr>
                                <div class="center">
                                    <figure class="note">Khi đăng ký tức bạn đã đồng ý <a href="terms.html" class="link">Điều khoản dịch vụ</a> và <a href="policy.html" class="link">chính sách bảo mật</a> của chúng tôi</figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.block-->
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->
        <!--Page Footer-->
        <div ng-include="'inc_footer.html'"></div>
        <!--end Page Footer-->
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->




<script type="text/javascript" src="assets/js/before.load.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script type="text/javascript" src="js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>